/* Karla font */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');

body {
  background: #E5E5E5;
}

.app-container {
  width: 550px;
  height: 550px;
  margin: 100px auto;
  background: #FFFFFF;
}

.app-container__body {
  padding: 36px 37px 55px; 
}
